.contact-form-wrapper {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* max-width: 300px; */
  /* height: 400px; */
  /* margin: 0 auto; */
  /* margin-top: 50%; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 1rem;
  /* background-color: #0000ff39; */
  background: var(--grey);
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.25);
  padding-bottom: 15px;
  max-width: 800px;
  /* animation: formAnimation 0.5s ease-in-out; */
}

/* make wobble animation */

@keyframes formAnimation {
  0% {
    transform: scale(0.5);
  }
  25% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 600px;
  /* width: 100%; */
  padding: 20px;
  /* background: #00ffff; */
  text-align: left;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  animation: formAnimation 0.5s ease-in-out;
}

.contact-form-wrapper h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  margin: 1rem;
  width: 100%;
  text-align: center;
  text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5), 3.5px 3.5px 1px var(--orange),
    4.5px 4.5px 1px var(--blue);
  font-family: 'Nunito', sans-serif;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #2c365e;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-family: 'Special Elite', cursive;
  color: #2c365e;
  background: #00ffff;
  box-shadow: 0 0 0.5rem 0.25rem rgba(255, 255, 255, 0.25);
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: 1px solid #2c365e;
  transition: all 0.5s ease-in-out;
}

.contact-form button {
  width: 60%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: 'Special Elite', cursive;
  color: #2c365e;
  /* background-color: var(--orange); */
  /* background-color: var(--yellow); */
  background: rgba(41, 36, 38, 0);
  /* color: var(--blue); */
  /* color: var(--grey); */
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  box-shadow: 0 0 0.5rem 0.25rem rgba(68, 228, 252, 0.7),
    inset 0 0 0.5rem 0.25rem rgba(255, 255, 255, 0.25);
  margin-top: 10px;
  transition: all 0.21s ease-in-out;
  text-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

.contact-form button:hover {
  /* background-color: var(--dark); */
  background-color: var(--orange);
  /* box-shadow: 0 0 0.5rem 0.25rem rgba(68, 228, 252, 0.7); */
  color: #00ffff;
}

.contact-form button:active {
  transform: scale(0.95);
  box-shadow: 0 0 0.5rem 0.25rem rgba(68, 228, 252, 0.7),
    inset 0 0 0.5rem 0.25rem rgba(255, 255, 255, 0.25);
  transition: all 0.1s ease-in-out;
}

.contact-form button:focus {
  outline: 1px solid #2c365e;
}
