.mainstage {
  /* position: fixed; */
  /* top: 10vh; */
  position: relative;
  width: 100vw;
  height: 80vh;
  top: calc((100vh - 80vh) / 2);
  background: #f2f2f2;
  z-index: 1;
  box-sizing: border-box;
  overflow: hidden;
}

.mainstageCanvas {
  height: 100%;
  width: 100%;
  position: relative;
  border: 2px dashed pink;
  box-sizing: border-box;
  background: #f2f2f2;
}

.upArrow,
.downArrow {
  height: 20px;
  width: auto;
  opacity: 0.25;
}

.upArrow:hover,
.downArrow:hover {
  cursor: pointer;
  transform: scale(1.2);
  opacity: 0.65;
}

.upArrow:active,
.downArrow:active {
  transform: scale(1.2) translateZ(-50%);
  opacity: 1;
}

.channel {
  background-color: transparent;
  padding: 18px 25px;
  z-index: 3;
}

.upDial {
  position: absolute;
  top: -2vh;
  left: 1vw;
  width: 80%;
  height: 60%;
  background: #6F635F;
  z-index: 2;
  border-radius: 50%;
  box-sizing: border-box;
  border-left: 2px solid #f2f2f2;
}

.upDial:hover {
  cursor: pointer;
}

.upDial:active {
  transform: rotate(90deg);
  transition: all 0.2s ease-in-out;
}

.downDial {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  z-index: 2;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
  border-top: 2px solid #f2f2f2;
  border-left: 2px solid #f2f2f2;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: rotate(45deg);
  transition: all 0.2s ease-in-out;
}
