.projectIframe iframe {
  border: none;
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  width: 140vw;
  height: 120vh;
  /* margin: 0 auto; */
  /* object-fit: cover; */
  z-index: 12;
}

iframe {
  overflow: hidden;
}
