.projectIframe iframe {
  /* border: none; */
  background: #ffffff;
  border-radius: 20px;
  /* overflow: hidden; */
  width: 1800px;
  height: 1360px;
  margin-top: 250px;
  /* margin: 0 auto; */
  /* object-fit: cover; */
  z-index: 12;
}

@media screen and (max-width: 479px) {
  .projectIframe iframe {
    margin-top: 250px;
    /* margin-bottom: 0;
    width: 500%;
    height: 100%;
    overflow: hidden; */
  }
}

iframe {
  overflow: hidden;
}
