.projectsWrapper {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 5vh auto;
  padding: 0 10vw;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 5vh;
  overflow: scroll;
  /* top: 5vh; */
}

.card {
  display: flex;
  flex-direction: column;
  background: var(--dark);
  width: 80vw;
  margin: 2vh auto;
  padding: 2vh;
}

.linksBox {
  /* position: relative;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.netlifyIcon {
  height: 50px;
  width: 50px;
  background: hotpink;
}

.githubIcon {
  height: 50px;
  width: 50px;
  background: hotpink;
}

.netlifyLink {
  background: pink;
}

.githubLink {
  background: pink;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

.imageBox {
  background: var(--green);
}

.projectImg {
  height: 400px;
  width: 400px;
  position: absolute;

}

.projectName {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: var(--orange);
  padding: 10px 0 0 10px;
  font-family: 'Special Elite', 'Days One', 'Courier New', Courier, monospace;
  color: #e2e2e2;
  font-size: 4rem;
  text-shadow: 2px 2px #a0a0a0;
}

.projectDesc {
  background: var(--orange);
  color: #e2e2e2;
  padding: 0 5vw;
}

.personal {
  /* background: rgba(44, 54, 94, 0.9); */
  background: rgba(255, 214, 57, 0.15);
  /* width: 60%; */
  color: var(--yellow);
  padding: 10px 5vw;
  box-shadow: inset 2px 1px 12px -8px var(--yellow);
}

.descriptionBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* @media (min-width: 480px) {
  .card {
    width: 40vw;
  }
} */

.projHeader {
  font-family: 'Special Elite', 'Days One', 'Courier New', Courier, monospace;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #e2e2e2;
  /* width: 100%; */
  /* width: calc(100% + 5vw); */
  border: 1px dotted white;
  position: relative;
  left: 0;
  /* left: -20.5vw; */
  box-shadow: 
    inset -4px 4px 5px -2.5px #e2e2e2,
    -2px 2px 4px 1px #e2e2e2;
  font-size: 1.8rem;
  background: #a0a0a0;
  /* padding: 5px 0 0 4px; */
}

.descriptionHeader, .contributionHeader, .projectDesc, .personal {
  font-family: 'Special Elite', 'Days One', 'Courier New', Courier, monospace;
  border: 1px dotted white;
  /* position: relative; */
  background: transparent;
  z-index: 4;
}

.personal {
  background: rgba(0, 0, 0, 0.2);
}

.portfolioCanvas {
  height: 20vh;
  width: 100%;
  position: absolute;
  top: 10vh;
  z-index: 5;
}

.projectName {
  z-index: 4;
  background: transparent;
}

::-webkit-scrollbar {
  width: 0px;
}