@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');

.portfolio-projects-canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: var(--background);
  z-index: -10;
}

.space {
  height: 81px;
  width: 100%;
  position: absolute;
  top: 0;
  background: var(--background);
  z-index: 3;
  box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.2);
}

.projectsWrapper {
  display: grid;
  color: white;
  flex-direction: column;
  overflow: auto;
  overflow-x: hidden;
  height: 100%;
  padding: 75px 0 50px 0;
}

.card {
  max-width: 800px;
  display: flex;
  margin: 40px auto;
  padding: 0 20px;
  z-index: 2;
}

.projectName {
  font-size: 4.5rem;
  line-height: 3.25rem;
  margin-bottom: 10px;
  font-family: 'Special Elite', 'Courier New', Courier, monospace;
  z-index: 2;
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--blue);
  text-shadow: 1px 1px #bababa;
}

.personal {
  color: var(--yellow);
}

.column {
  width: 50%;
  position: relative;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}

.right {
  margin-top: 20px;
  padding: 0 30px;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.1rem;
  font-family: 'Open Sans', 'Patua One', 'Special Elite', 'Courier New', Courier, monospace;
  font-weight: 400;
  z-index: 2;
}

.projectImg {
  max-width: 300px;
  max-height: 300px;
  border-radius: 5px;
  box-shadow: 3px 3px 8px -1px rgba(255, 255, 255, 0.7);
}

.linksBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 20px;
}

.ghBtn,
.liveBtn {
  border: 2px solid white;
  background: #f2f2f2;
  box-shadow: 3px 3px 8px -1px var(--yellow);
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1.5rem;
  font-family: 'Special Elite', 'Courier New', Courier, monospace;
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

.ghBtn:hover,
.liveBtn:hover {
  color: white;
  background: var(--blue);
  text-shadow: 2px 2px var(--orange);
}

.ghBtn:active,
.liveBtn:active {
  transform: scale(0.95);
  color: white;
  background: var(--orange);
  text-shadow: 2px 2px var(--blue);
}
@media (min-width: 551px) and (max-width: 780px) {
  .projectImg {
    max-width: 250px;
    max-height: 250px;
  }
  .card {
    flex-direction: column;
    margin: 40px auto;
  }
  .column {
    width: 100%;
    align-items: inherit;
  }
  .right {
    margin-top: 20px;
    padding: 0 20px;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 1.25rem;
  }
  .left {
    margin-top: 20px;
    align-items: flex-start;
  }
  .projectName {
    font-size: 5rem;
    line-height: 3.5rem;
  }
  .linksBox {
    width: 100%;
    justify-content: space-evenly;
  }
}

@media (min-width: 351px) and (max-width: 550px) {
  .card {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;
    margin: 30px auto;
    width: auto;
  }
  .projectImg {
    max-width: 200px;
    max-height: 200px;
  }
  .left {
    margin-top: 20px;
    align-items: flex-start;
  }
  .projectName {
    font-size: 3.25rem;
    line-height: 2.5rem;
  }
  .right {
    font-size: 1rem;
  }
}

@media (max-width: 350px) {
  .card {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;
    margin: 30px auto;
    width: auto;
  }
  .projectImg {
    max-width: 200px;
    max-height: 200px;
  }
  .left {
    margin-top: 20px;
    align-items: flex-start;
  }
  .projectName {
    font-size: 2.5rem;
    line-height: 2rem;
  }
  .right {
    font-size: 1rem;
  }
  .linksBox {
    width: 100%;
    justify-content: space-evenly;
  }
}

.projectsCanvas {
  position: fixed;
  top: 100px;
  height: 10%;
  width: 100%;
  z-index: -10;
}
.description {
  font-weight: 400;
}
.personal {
  font-weight: 400;
}