@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.introCanvas {
  height: 60vh;
  height: 100%;
  /* position: fixed; */
  position: relative;
  top: 10vh;
  left: 0;
  border: 2px dashed hotpink;
  background: #f2f2f2;
  box-sizing: border-box;
}

.image-wrapper {
  position: fixed;
  top: 120px;
  right: 50px;
  border: 2px dashed green;
}

.headshot {
  box-shadow: 0 0 14px 10px rgba(255, 255, 255, 0.5);
  float: right;
  shape-outside: circle(50%);
  top: 10px;
  right: 20px;
  width: 200px;
  height: auto;
  border-radius: 50%;
}

.intro {
  color: white;
  width: 100%;
  height: 10vh;
  position: relative;
  font-size: 1.5rem;
  padding: 0;
  border: 2px dashed red;
  font-family: 'Days One';
}

.hi {
  font-size: 4rem;
  /* border: 2px dashed green; */
  position: relative;
  width: 25%;
  left: 50px;
  color: rgb(116, 116, 116);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
}

/* #hi, #my, #ryan, #imA, #portland { */
/* animation: moveLeft 1s ease-in-out; */
/* animation-duration: 2s; */
/* animation-iteration-count: 1; */
/* } */

/* #my {
  animation-delay: 0.25s;
}

#ryan {
  animation-delay: .5s;
}

#imA {
  animation-delay: .75s;
}

#portland {
  animation-delay: 1s;
}

@keyframes moveLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
} */

#hi {
  -webkit-animation: slide-left 1.25s ease-in-out both;
  animation: slide-left 1.25s ease-in-out both;
}

#myNameIs {
  -webkit-animation: slide-left 1.25s ease-in-out both;
  animation: slide-left 1.25s ease-in-out both;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

/* #ryanparker {
  -webkit-animation: slide-up 1s ease-in-out both;
  animation: slide-up 1s ease-in-out both;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
} */

#ryan {
  /* -webkit-animation: scale-up 1s ease-in-out both;
  animation: scale-up 1s ease-in-out both; */
  -webkit-animation: bounce-in-top 1.5s ease-in-out both;
  animation: bounce-in-top 1.5s ease-in-out both;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

#imA {
  -webkit-animation: slide-up 2s ease-in-out both;
  animation: slide-up 2s ease-in-out both;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.75s;
}

.further {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px dashed white; */
  width: 100%;
  height: 100%;
  margin: 0 10px;
  margin-top: 50px;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.resume {
  /* animation: slide-rotate 1s ease-in-out both; */
  animation: tilt-in-bl 1.4s ease-out both;
  animation-delay: 1.55s;
}

.projects {
  animation: slide-rotate 1.4s ease-in-out both;
  animation-delay: 1.8s;
}

.proj3d {
  animation: tilt-in-br 1.4s ease-out both;
  animation-delay: 2.05s;
}

.projects,
.resume,
.proj3d {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 1px dashed purple; */
  width: 100%;
  height: 100%;
  color: rgb(116, 116, 116);
  font-size: 1.5rem;
  z-index: 3;
}

.projects:hover,
.resume:hover,
.proj3d:hover {
  text-align: center;
  background: rgb(116, 116, 116);
  color: rgb(212, 212, 212);
  transform: scale(1.2);
  font-weight: 600;
}

.projects:active,
.resume:active,
.proj3d:active {
  color: rgb(212, 212, 212);
}

.my {
  width: 50%;
  position: relative;
  border: 2px dashed purple;
  top: 20px;
  left: 50px;
  color: rgb(116, 116, 116);
  font-size: 1.6rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
}

.name {
  border: 2px dashed purple;
  font-weight: 700;
  width: 75%;
  text-shadow: 2px 2px rgb(212, 212, 212);
  color: rgb(155, 155, 155);
  font-size: 4rem;
  position: relative;
  left: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
}

.summary {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* top: -20px; */
  /* padding: 0; */
  /* margin: 0 auto; */
  /* border: 2px dashed red; */
  /* height: 99.5%; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  font-family: 'Special Elite', 'Days One', 'Courier New', Courier, monospace;
}

.summaryText {
  /* position: relative; */
  /* left: calc(100vw - (width / 2)); */
  text-align: left;
  color: #e2e2e2;
  text-shadow: 1px 1px #bababa;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 500;
  width: 70vw;
  margin: 10px 0;
  /* border: 2px dashed darkred; */
}

.ryan {
  font-size: 5rem;
  margin: 25px 0;
  line-height: 3.5rem;
  color: var(--blue);
  /* color: var(--green); */

  text-shadow: 1px 1px #bababa;
  text-align: left;
  font-weight: 500;
  width: 70vw;
  /* border: 2px dashed darkred; */
}

@media (max-width: 399px) {
  .summaryText {
    font-size: 2rem;
    line-height: 2rem;
    width: 90vw;
  }
  .ryan {
    font-size: 3rem;
    line-height: 3rem;
    margin: 0;
  }
  .further {
    flex-direction: column;
    padding-top: 20px;
  }
  .resume, .projects, .proj3d {
    margin: 10px 0;
  }
}

.software {
  color: var(--orange);
}

.portland {
  color: var(--yellow);
}

#hi,
#my,
#imA {
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-up {
  0% {
    -webkit-transform: translateZ(160px) translateY(400px);
    transform: translateZ(160px) translateY(400px);
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
  }
}

@keyframes scale-up {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes slide-rotate {
  0% {
    -webkit-transform: translateY(150px) translateZ(130px) rotateX(90deg);
    transform: translateY(150px) translateZ(130px) rotateX(90deg);

    -webkit-transform-origin: top center;
    transform-origin: top center;
  }
  100% {
    -webkit-transform: translateY(0) translateZ(0) rotateX(0deg);
    transform: translateY(0) translateZ(0) rotateX(0deg);

    -webkit-transform-origin: top center;
    transform-origin: top center;
  }
}

@keyframes slide-down {
  0% {
    -webkit-transform: translateZ(160px) translateY(-400px);
    transform: translateZ(160px) translateY(-400px);
  }
  70% {
    -webkit-transform: translateZ(160px) translateY(0px);
    transform: translateZ(160px) translateY(0px);
  }
  80% {
    -webkit-transform: translateZ(120px) translateY(10px);
    transform: translateZ(120px) translateY(10px);
  }
  90% {
    -webkit-transform: translateZ(80px) translateY(-10px);
    transform: translateZ(80px) translateY(-10px);
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
  }
}

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes tilt-in-bl {
  0% {
    -webkit-transform: rotateY(35deg) rotateX(-20deg) translate(-250px, 250px) skew(-12deg, -15deg);
    transform: rotateY(35deg) rotateX(-20deg) translate(-250px, 250px) skew(-12deg, -15deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}

@keyframes tilt-in-br {
  0% {
    -webkit-transform: rotateY(-35deg) rotateX(-20deg) translate(250px, 250px) skew(12deg, 15deg);
    transform: rotateY(-35deg) rotateX(-20deg) translate(250px, 250px) skew(12deg, 15deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
