@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.summaryCanvas {
  height: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

.image-wrapper {
  position: fixed;
  top: 120px;
  right: 50px;
  border: 2px dashed green;
}

.headshot {
  box-shadow: 0 0 14px 10px rgba(255, 255, 255, 0.5);
  float: right;
  shape-outside: circle(50%);
  top: 10px;
  right: 20px;
  width: 200px;
  height: auto;
  border-radius: 50%;
}

.intro {
  color: white;
  width: 100%;
  height: 10vh;
  position: relative;
  font-size: 1.5rem;
  padding: 0;
  border: 2px dashed red;
  font-family: 'Days One';
}

.hi {
  font-size: 4rem;
  position: relative;
  width: 25%;
  left: 50px;
  color: rgb(116, 116, 116);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.my {
  width: 50%;
  position: relative;
  border: 2px dashed purple;
  top: 20px;
  left: 50px;
  color: rgb(116, 116, 116);
  font-size: 1.6rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
}

.name {
  border: 2px dashed purple;
  font-weight: 700;
  width: 75%;
  text-shadow: 2px 2px rgb(212, 212, 212);
  color: rgb(155, 155, 155);
  font-size: 4rem;
  position: relative;
  left: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
}

.summary {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  font-family: 'Special Elite', 'Days One', 'Courier New', Courier, monospace;
}

.summaryText {
  text-align: left;
  color: #e2e2e2;
  text-shadow: 1px 1px #bababa;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 500;
  width: 70vw;
  margin: 10px 0;
}

.ryan {
  font-size: 5rem;
  margin: 25px 0;
  line-height: 3.5rem;
  color: var(--blue);
  text-shadow: 1px 1px #bababa;
  text-align: left;
  font-weight: 500;
  width: 70vw;
}

@media (max-width: 399px) {
  .summaryText {
    font-size: 2rem;
    line-height: 2rem;
    width: 100%;
  }
  .ryan {
    font-size: 3rem;
    line-height: 3rem;
    margin: 0;
  }
  .further {
    flex-direction: column;
    padding-top: 10px;
    height: auto;
    margin: 0 auto;
  }
  .resume,
  .projects,
  .proj3d {
    margin: 10px 0;
  }
}

.software {
  color: var(--orange);
}

.portland {
  color: var(--yellow);
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-up {
  0% {
    -webkit-transform: translateZ(160px) translateY(400px);
    transform: translateZ(160px) translateY(400px);
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
  }
}

@keyframes scale-up {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes slide-rotate {
  0% {
    -webkit-transform: translateY(150px) translateZ(130px) rotateX(90deg);
    transform: translateY(150px) translateZ(130px) rotateX(90deg);

    -webkit-transform-origin: top center;
    transform-origin: top center;
  }
  100% {
    -webkit-transform: translateY(0) translateZ(0) rotateX(0deg);
    transform: translateY(0) translateZ(0) rotateX(0deg);

    -webkit-transform-origin: top center;
    transform-origin: top center;
  }
}

@keyframes slide-down {
  0% {
    -webkit-transform: translateZ(160px) translateY(-400px);
    transform: translateZ(160px) translateY(-400px);
  }
  70% {
    -webkit-transform: translateZ(160px) translateY(0px);
    transform: translateZ(160px) translateY(0px);
  }
  80% {
    -webkit-transform: translateZ(120px) translateY(10px);
    transform: translateZ(120px) translateY(10px);
  }
  90% {
    -webkit-transform: translateZ(80px) translateY(-10px);
    transform: translateZ(80px) translateY(-10px);
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
  }
}

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes tilt-in-bl {
  0% {
    -webkit-transform: rotateY(35deg) rotateX(-20deg) translate(-250px, 250px) skew(-12deg, -15deg);
    transform: rotateY(35deg) rotateX(-20deg) translate(-250px, 250px) skew(-12deg, -15deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}

@keyframes tilt-in-br {
  0% {
    -webkit-transform: rotateY(-35deg) rotateX(-20deg) translate(250px, 250px) skew(12deg, 15deg);
    transform: rotateY(-35deg) rotateX(-20deg) translate(250px, 250px) skew(12deg, 15deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}

.appLink {
  text-align: center;
}

.summary {
  margin: 0 0 20px 0;
  font-size: 1.2em;
  line-height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.further {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 0;
  margin-top: 50px;
  font-family: 'Special Elite', 'Days One', 'Courier New', Courier, monospace;
}

.projects,
.resume,
.proj3d {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: rgb(116, 116, 116);
  font-size: 1.5rem;
  z-index: 3;
  cursor: pointer;
}

.projects:hover,
.resume:hover,
.proj3d:hover {
  background: rgb(116, 116, 116);
  color: rgb(212, 212, 212);
  transform: scale(1.2);
  font-weight: 600;
}

.projects:active,
.resume:active,
.proj3d:active {
  color: rgb(212, 212, 212);
}

@media (max-width: 300px) {
  .summaryText {
    font-size: 1.4rem;
  }
}

.summaryCanvas {
  height: 100%;
  width: 100%;
  z-index: -2;
}

@keyframes shake-lr {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  80% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }
  90% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
}

.ryan:hover {
  animation: flicker 0.25s ease-in-out both;
}

@keyframes flicker {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.25;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0.35;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 0.1;
  }
  20.6% {
    opacity: 0.8;
  }
  30% {
    opacity: 0.6;
  }
  30.1% {
    opacity: 0.3;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0.2;
  }
  45% {
    opacity: 0.7;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  55% {
    opacity: 0.1;
  }
  55.1% {
    opacity: 1;
  }
  57% {
    opacity: 0.5;
  }
  57.1% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.7;
  }
  60.1% {
    opacity: 0.2;
  }
  65% {
    opacity: 0.9;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 0.2;
  }
  75.1% {
    opacity: 0.4;
  }
  77% {
    opacity: 0.7;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 0.3;
  }
  85.1% {
    opacity: 0.8;
  }
  86% {
    opacity: 0.2;
  }
  86.1% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.easteregg {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 20px;
  bottom: 15px;
  height: 50px;
  width: 50px;
  /* background: white; */
  color: white;
  font-size: 3rem;
  opacity: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.easteregg:hover {
  opacity: 0.95;
  animation: 0.5s ease-in-out both;
}