.intro-canvas {
  height: 20vh;
  position: fixed;
  top: 10vh;
  left: 0;
  border: 2px dashed pink;
  box-sizing: border-box;
}

.image-wrapper {
  position: fixed;
  top: 120px;
  right: 50px;
  border: 2px dashed green;
}

.headshot {
  box-shadow: 0 0 14px 10px rgba(255, 255, 255, 0.5);
  float: right;
  shape-outside: circle(50%);
  top: 10px;
  right: 20px;
  width: 200px;
  height: auto;
  border-radius: 50%;
}

.intro {
  color: white;
  position: relative;
  font-size: 1.5rem;
  margin-top: 100px;
  padding: 0;
  border: 2px dashed red;
  font-family: 'Days One';
}

.hi {
  font-size: 4rem;
  border: 2px dashed green;
  position: relative;
  width: 25%;
  left: 50px;
  color: rgb(116, 116, 116);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
}

.my {
  width: 50%;
  position: relative;
  border: 2px dashed purple;
  top: 20px;
  left: 50px;
  color: rgb(116, 116, 116);
  font-size: 1.6rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
}

.name {
  border: 2px dashed purple;
  font-weight: 700;
  width: 75%;
  text-shadow: 2px 2px rgb(212, 212, 212);
  color: rgb(155, 155, 155);
  font-size: 4rem;
  position: relative;
  left: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
}

.summary {
  position: relative;
  color: rgb(155, 155, 155);
  font-size: 2.25rem;
  line-height: 2rem;
  font-weight: 500;
  text-align: center;
  margin-top: 100px;
  padding: 0;
  border: 2px dashed red;
  font-family: 'Days One';
}
