@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Special+Elite&display=swap');

:root {
  --blue: #44e4fc;
  --green: #00af54;
  --orange: #fb7c45;
  --yellow: #ffd639;
  --dark: #2c365e;
  --grey: #66666e;
  --cyan: #00ffff;
  --red: #ff0000;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100vw;
  /* overflow: hidden; */
}

html {
  background: #292426;
}
