:root {
  --blue: #44E4FC;
  --green: #00AF54;
  --orange: #FB7C45;
  --yellow: #FFD639;
  --dark: #2C365E;
  --grey: #66666E;
  --cyan: #00ffff;
  --red: #ff0000;
}

/* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.boxBlue {
  height: 200px;
  width: 200px;
  background-color: var(--blue);
}
.boxBlue,
.boxOrange,
.image,
.dot {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.boxBlue:hover,
.boxOrange:hover,
/* .image:hover, */
.dot:hover {
  border-radius: 100%;
  transform: scale(1.2);
}

.boxBlue:hover {
  background-color: var(--orange);
}

.boxOrange {
  height: 200px;
  width: 200px;
  background-color: var(--orange);
}

.boxOrange:hover {
  background-color: var(--blue);
}

.image:hover {
 -webkit-filter: invert(100%); /* Safari 6.0 - 9.0 */
  filter: invert(100%);
}

.dot {
  height: 50px;
  width: 50px;
  background-color: rgb(233, 233, 233);
  /* border-radius: 50%; */
  display: inline-block;
}

html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background: rgb(44, 44, 44); */
  background: #292426;
  /* background: linear-gradient(
    180deg,
    rgba(44, 44, 44, 1) 50%,
    rgb(0, 95, 150) 75%,
    rgb(170, 0, 0) 125%
  ); */
}

/* .sandbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
} */

.sound-palette iframe {
  width: 2048px;
  height: 2048px;
  border: none;
  background: #ffffff;
  border-radius: 20px;
}

.collabo iframe {
  width: 2048px;
  height: 2048px;
  border: none;
  /* background: #000000; */
  border-radius: 20px;
}
